table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #000;
	padding: 7px;
}

th {
	background-color: #ddd;
}

td.nopad {
	padding: 0px;
}

.pad {
	padding: 7px;
}

.right {
	float: right;
}
